.locations .popover,
.amenities .popover {
    display: none;
    position: absolute;
    background-color: #FAFAFA;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    list-style-type: none;
    padding: 0;
}

.locations:hover .popover,
.amenities:hover .popover {
    display: block;
}

.locations ul {
    margin-top: 0;
    padding-left: 20px;
}

.locations h2 {
    font-size: 16px;
    margin: 5px 0;
}

.amenities ul {
    margin: 0;
}

.amenities li {
    padding: 5px 10px;
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.locations,
.amenities {
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    padding: 10px;
}

.locations h3,
.amenities h3 {
    font-weight: 600;
}

.locations h4,
.amenities h4 {
    font-weight: 400;
    font-size: 14px;
}
